<hello style="color:red;" class="text-center" name="{{ name }}">

</hello>


<div class="container">
	<div class="row">
		<div class="col-sm-5 col-md-3">
			<div class="form-group">
				<label for="">Tên danh lam thắng cảnh</label>

				<input [value] = "addPlace.name"
         (keyup) ="addPlace.name= $event.target.value" type="text" 
         class="form-control" placeholder="" aria-describedby="helpId">

</div>
				<div class="form-group">
					<label for="">Image</label>
					<input [value] = "addPlace.img"
         (keyup) ="addPlace.img= $event.target.value"
           type="text"  class="form-control" placeholder="" aria-describedby="helpId">

</div>
					<div class="form-group">
						<label for="">Diện tích</label>
						<input [value] = "addPlace.S"
         (keyup) ="addPlace.S= $event.target.value"
             type="text"  class="form-control" placeholder="" aria-describedby="helpId">

</div>
					</div>
					<div class="col-sm-5 col-md-3">
						<div class="form-group">
							<label for="">Danh nhân</label>
							<input [value] = "addPlace.name_celebrity"
         (keyup) ="addPlace.name_celebrity= $event.target.value"
               type="text"   class="form-control" placeholder="" aria-describedby="helpId">

</div>
							<div class="form-group">
								<label for="">Ảnh danh nhân</label>
								<input [value] = "addPlace.img_celebrity"
         (keyup) ="addPlace.img_celebrity= $event.target.value"
          type="text"   class="form-control" placeholder="" aria-describedby="helpId">

</div>
								<div class="form-group">
									<label for="">Năm sinh</label>
									<input [value] = "addPlace.born_year"
         (keyup) ="addPlace.born_year= $event.target.value"
                   type="text"   class="form-control" placeholder="" aria-describedby="helpId">

</div>
									<div class="form-group">
										<label for="">Năm mất</label>
										<input [value] = "addPlace.die_year"
         (keyup) ="addPlace.die_year= $event.target.value"
                    type="text"   class="form-control" placeholder="" aria-describedby="helpId">

</div>
									</div>
            
<div class="col-sm-5 col-md-3">

<p ><img  style="float:right;margin-bottom:40px" *ngIf="addPlace.img != null" [src]="addPlace.img" width="200"></p>
<p><img style="float:right" *ngIf="addPlace.img_celebrity != null" [src]="addPlace.img_celebrity" width="200" ></p>
</div>
<div class="col-3">
         <img src="https://scontent-hkt1-1.xx.fbcdn.net/v/t1.0-9/84179327_3475767979160518_8587420631677534208_n.jpg?_nc_cat=106&_nc_sid=110474&_nc_ohc=P-KaA0D8APsAX-HU6N3&_nc_ht=scontent-hkt1-1.xx&oh=a4493774f21f37b4c64796ac1aabe5ce&oe=5E94E7C2" width="300" height="400" alt="right">
</div>
								</div>
								<div class="form-group">
									<button (click) = "addnewPlace()" type="button"   class="btn btn-primary info">Thêm</button>           
								</div>
							</div>


							<div class="container">
								<h2 class="text-center"> Thông tin danh lam thắng cảnh</h2>
								<table class="table">
									<thead class="thead-dark">
										<tr>
											<th scope="col">ID</th>
											<th scope="col">Tên địa danh</th>
											<th scope="col">Image</th>
											<th scope="col">Diện tích</th>
											<th scope="col">Danh nhân</th>
											<th scope="col">Ảnh danh nhân</th>
											<th scope="col">Năm sinh</th>
											<th scope="col">Năm mất</th>
											<th scope="col">Sửa</th>
											<th scope="col">Xóa</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let p of place">
											<th scope="row">{{p.id}}</th>
											<td>{{p.name}}</td>
											<td> <img [src]="p.img" width="70"></td>
											<td>{{p.S}}</td>
											<td>{{p.name_celebrity}}</td>
											<td><img [src]="p.img_celebrity" width="70" ></td>
											<td>{{p.born_year}}</td>
											<td>{{p.die_year}}</td>
											<td> <button type="button" (click) = "edit(p)" class="btn btn-primary info">Sửa</button>
											</td>
											<td><button type="button" (click)="removePlace(p)" name="" id="" class="btn btn-primary danger">Xóa</button>
											</td>
										</tr>

									</tbody>
								</table>
							</div>